---
import Layout from "@layouts/Layout.astro";
const title = "Ritusri Halambi | Portfolio";
const description = "Hello, I'm Ritusri Halambi from Mumbai, studying Visual Communication Design at UID, Gandhinagar. If you're looking forward to hire someone who is full of zest and enthusiasm, you're on the right link :)Hello, I'm Ritusri Halambi from Mumbai, studying Visual Communication Design at UID, Gandhinagar. If you're looking forward to hire someone who is full of zest and enthusiasm, you're on the right link :)"
---

<Layout seoTitle={title} seoDescription={description}>
	<h1 class="font-bold">Hello</h1>
</Layout>