<footer class="bg-[#f6f6f6] pt-[37px] pb-[53px] px-6">
  <div class="flex flex-col items-center gap-4">
    <p class="text-[22px] leading-[1.3em]">Let's Connect!</p>
    <ul class="flex list-none gap-4">
      <li>
        <a aria-label="Send email" class="flex p-2 bg-black rounded-full aspect-square items-center justify-center" href="/">
          <svg
            width="32px"
            height="32px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#ffffff"
          >
            <path
              d="M7 9L12 12.5L17 9"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z"
              stroke="#ffffff"
              stroke-width="1.5"></path>
          </svg>
        </a>
      </li>
      <li>
        <a aria-label="Medium" class="flex p-2 bg-black rounded-full aspect-square items-center justify-center" href="/">
          <svg
            width="32px"
            height="32px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#ffffff"
            ><path
              d="M7 16C9.20914 16 11 14.2091 11 12C11 9.79086 9.20914 8 7 8C4.79086 8 3 9.79086 3 12C3 14.2091 4.79086 16 7 16Z"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M15 16C16.1046 16 17 14.2091 17 12C17 9.79086 16.1046 8 15 8C13.8954 8 13 9.79086 13 12C13 14.2091 13.8954 16 15 16Z"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M20 16C20.5523 16 21 14.2091 21 12C21 9.79086 20.5523 8 20 8C19.4477 8 19 9.79086 19 12C19 14.2091 19.4477 16 20 16Z"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </li>
      <li>
        <a aria-label="LinkedIn" class="flex p-2 bg-black rounded-full aspect-square items-center justify-center" href="/">
          <svg
            width="32px"
            height="32px"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#ffffff"
            ><path
              d="M21 8V16C21 18.7614 18.7614 21 16 21H8C5.23858 21 3 18.7614 3 16V8C3 5.23858 5.23858 3 8 3H16C18.7614 3 21 5.23858 21 8Z"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M7 17V13.5V10"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M11 17V13.75M11 10V13.75M11 13.75C11 10 17 10 17 13.75V17"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M7 7.01L7.01 6.99889"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </li>
      <li>
        <a aria-label="Behance" class="flex p-2 bg-black rounded-full aspect-square items-center justify-center" href="/">
          <svg
            width="32px"
            height="32px"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="#ffffff"
            ><path
              d="M8.19718 11.2174C13.2676 11.2174 13.2676 18 8.19718 18C5.33701 18 2 18 2 18V11.2174M8.19718 11.2174C5.33701 11.2174 2 11.2174 2 11.2174M8.19718 11.2174C13.2676 11.2174 13.2676 5.00001 8.19718 5C5.94366 5 2 5 2 5V11.2174"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M18 9C15.7909 9 14 11.0147 14 13.5H22C22 11.0147 20.2091 9 18 9Z"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M14 13.5C14 15.9853 15.7909 18 18 18C20.7552 18 21.5 16 21.5 16"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path><path
              d="M20.5 6L15.5 6"
              stroke="#ffffff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </a>
      </li>
    </ul>
    <small class="text-base font-normal">&copy; 2023 Ritusri Halambi</small>
  </div>
</footer>
