<header class="py-8 px-6 bg-[#f6f6f6]">
    <div class="max-w-4xl mx-auto flex justify-between items-end mt-[15px]">
        <div class="tracking-[0.2em] uppercase">
            <a class="text-[38px] font-semibold text-primary" href="/">Ritusri Halambi</a>
            <p class="text-center font-extralight text-[15px]">Visual Communication Designer</p>
        </div>
        <nav>
            <ul class="flex list-none gap-7 uppercase text-primary text-[17px]">
                <li class="tracking-normal hover:tracking-widest hover:font-bold transition-all ease duration-200"><a class="" href="/about">About</a></li>
                <li class="tracking-normal hover:tracking-widest hover:font-bold transition-all ease duration-200"><a class="" href="/contact">Contact</a></li>
            </ul>    
        </nav>
    </div>
</header>